body {
  text-align: center;
  background-image: url('../images/body_background.jpg');
}

canvas {
  border-radius: 10px;
  max-height: 48rem;
}

#message_to_player {
  visibility: hidden;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 35%;
  right: 45%;
  width: 20%;
  height: 10%;
  border: 1rem dashed #c50202;
}

#first {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  margin: auto;
  color: white;
  display: flex;
  justify-content:space-between;
}

.right {
  width: 400px;
  display: flex;
  justify-content: inherit;
}

#goback {
  text-align: center;
  margin-top: 2rem;
}

#goback > a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: aliceblue;
  background-color: #006c5d;
  padding: 0.8rem;
  border-radius: 10%;
}

#goback > a:hover {
  font-weight: 700;
  padding: 0.6rem;
  background-color: #c3e76a;
  color: olivedrab;
  transition-duration: 0.1s;
  transition-duration: 0.5s;
}

#wojaks {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.wojak img {
  width: 8rem;
  height: 8rem;
  margin: 4px;
  border: solid gold 6px;
  border-radius: 3%;
}


.control {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: aliceblue;
  background-color: #006c5d;
  padding: 0.8rem;
  border-radius: 10%;
}

#unlocked-wojaks-title {
  font-size: 25px;
  margin: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content:space-between;
}

