body {
  text-align: center;
  background-image: url('../images/body_background.jpg');
}

canvas {
  border-radius: 10px;
  max-height: 48rem;
}

#message_to_player {
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  background-color: lightcoral;
  visibility: hidden;
  position: absolute;
  top: 30%;
  right: 40%;
  width: 25%;
  height: 12%;
  border: 1rem solid rgb(248, 104, 104);
  border-radius: 50%;
}

#first {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  margin: auto;
  color: white;
  display: flex;
  justify-content:space-between;
}

.info > * {
  margin-top: 2rem;
}

.right {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.small-button {
  text-align: center;
  margin: 2rem;
  margin-top: 3rem;
}

.small-button > * {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: aliceblue;
  background-color: #006c5d;
  padding: 0.8rem;
  border-radius: 10%;
}

.small-button > *:hover {
  font-weight: 700;
  padding: 0.6rem;
  background-color: #c3e76a;
  color: olivedrab;
  transition-duration: 0.1s;
  transition-duration: 0.5s;
}

.control {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: aliceblue;
  background-color: #006c5d;
  padding: 0.8rem;
  border-radius: 10%;
}
